
body {
	margin: 0;
}

li{
  text-decoration: none;
  list-style: none;
}

.Main{
  background: #9e30f4;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  position: relative;
}

.MainWrap{
  width: 30vw;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
}

.Main h2 {
  font-size: 60px;
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

.loginButton {
    width: 50%;
    height: 50px;
    border: none;
    font-weight: 700;
    background-color: #fff;
    border-radius: 64px;
    color: #9e30f4;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    margin-top: 350px;
}

.Login,.Information{
  width: 100vw;
  height: 100vh;
  background: #eee;
  position: relative;
}

.LoginWrap, .InformationWrap {
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    max-width: 500px;
    padding: 0 20px;
    left: 50%;
    transform:  translate(-50%, 0);
    background-color: #f7f7f7;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

.Login h2, .Information h2 {
    font-size: 40px;
    margin: 30px auto;
}

.contentWrap{
    margin-top: 30px;
    flex: 1;
    position: relative;
  }
  
.inputTitle{
    font-size: 20px;
    font-weight: 600;
    color: #262626;
  
  }
  
  .inputWrap{
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    background-color: #fff;
    border: 1px solid #e2e0e0;
  
  }
  
  .inputWrap:focus-within{
    border: 1px solid #9e30f4;
  }
  
  .input{
    width: 100%;
    outline: none;
    border: none;
    height: 17px;
    font-size: 14px;
    font-weight: 400;;
  }
  
  .input::placeholder{
    color: #dadada;
  }
  
  .bottomButton{
    width: 100%;
    height: 48px;
    border: none;
    font-weight: 700;
    background-color: #9e30f4;
    border-radius: 64px;
    color: #fff;
    margin: 36px 0;
    cursor: pointer;
    position: absolute;
    bottom: 0;
  }
  
  .bottomButton:disabled{
    background-color: #dadada;
    color: #fff;
  }

  .UserList{
    width: 100vw;
    height: 100vh;
    background: #e2e0e0;
  }

  .InformationButton, .BackButton{
    width: 70px;
    height: 36px;
    border-radius: 10px;
    background:  #9e30f4;
    color: #fff;
    position: absolute;
    border: none;
    font-weight: 600;
  }

  .InformationButton{
    right: 50px;
    top: 40px;
  }

  .BackButton{
    left: 30px;
    top: 30px;
  }

  .tableBox{
    position: absolute;
    left: 50%;
    top: 20vh;
    transform:  translate(-50%, 0);
    width: 80vw;
    height: 60vh;
    background: #493c4d;
    color: #eee;
  }

.tableBoxUl li {
  float: left;
  width: 50%;
  height: 50px;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}

.Data {
  padding: 30px 50px;
}

.UseIdSearchButton, .DataChangeButton, .UseListSearchButton{
  width: 100%;
  height: 48px;
  border: none;
  font-weight: 700;
  background-color: #b68dd6;
  border-radius: 64px;
  color: #333;
  margin: 36px 0;
  cursor: pointer;
 
}

.UseIdSearchButton:disabled, .DataChangeButton:disabled, .UseListSearchButton:disabled{
  background-color: #dadada;
  color: #fff;
}

.userDataBox{
  width: 100%;
}

.inputSearch{
  height: 48px;
  width: 100%;
  outline: none;
  border: none;
  background: #ededed;
}

.inputData{
  background: #ededed;
  width: 100%;
  height: 48px;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: 400;
}

.inputData::placeholder{
  color: none;
}

.userWrap{
  padding: 60px;
}

.userWrap h3{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.tab-menu {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  border: 1px solid #ccc;
}

.tab-buttons {
  display: flex;
}

.tab-buttons button {
  padding: 10px 20px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  width: 50%;
}

.tab-buttons button.active {
  background-color: #fff;
}

.tab-content div.hidden {
  display: none;
}

.tab-content div.active {
  display: block;
  padding: 10px;
}

.userListWrap{
  padding: 20px 30px;
}

.userListWrap table{
  width: 100%;
}

.userListWrap thead th{
  height: 36px;
  font-weight: 600;
  background-color: #d49dfd;
}

.userListWrap tbody td {
  width: 25%;
  height: 30px;
  padding-bottom: 16px;
}